@import url(./fonts.css);
@import url(./reset.css);

body {
  font-family: "Proxima Nova", sans-serif;
  color: #2b2929;
}

.wrapper {
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
}

/*!------------------*/
/*!-------MAIN-------*/
/*!------------------*/
.page {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
.page__products-card {
}
.card-products {
}
.card-products__container {
  padding-top: 40px;
}
.title-wrap {
/*   padding: 40px 0; */
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 30px;
  align-items: center;
}
.title-wrap__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2; /* 48/40 */
}
.title-wrap__link {
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26; /* 24/19 */
  color: #ffbc57;
  padding-right: 34px;
  background: url("../img/arrow.svg") right / 24px no-repeat;
}

@media (any-hover: hover) {
  .title-wrap__link:hover {
    text-decoration: underline;
  }
}
.page {
}
.page__products-card {
}
.card-products {
}
.card-products__container {
}
.card-products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px 10px;
}
.card-products__item {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.2s, transform 0.3s;
}
@media (any-hover: hover) {
  .card-products__item:hover {
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.4);
    transform: translateY(-10px);
  }
}
.card-products__image {
  border-radius: 8px;
  overflow: hidden;
}

.card-products__image img {
  width: 100%;
  transition: transform 0.3s;
}

@media (any-hover: hover) {
  .card-products__image img:hover {
    transform: scale(1.2);
  }
}

.card-products__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}
/* .card-products__description > :not(:last-child) {
  margin-bottom: 10px;
} */
.card-products__size,
.card-products__available {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69; /* 22/13 */
  color: #535353;
}
.card-products__link {
  font-size: 19px;
  font-weight: 600;
  line-height: 1.26; /* 24/19 */
  transition: all 0.2s;
  display: flex;
  justify-content: start;
  align-items: center;
/*   flex-direction: column;
  justify-content: center; */
  flex-grow: 1;
}

@media (any-hover: hover) {
  .card-products__link:hover {
    color: #ffbc57;
    text-decoration: underline;
  }
}
.card-products__available {
  color: #2b2929;
}
.card-products__available::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align: middle;
  background: url("../img/check.svg") left center / 24px no-repeat;
}
.card-products__cost {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.card-products__prices {
  flex-grow: 1;
}
.card-products__old-price,
.card-products__price {
  display: block;
}
.card-products__old-price {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.46; /* 22/15 */
  color: #e03d3d;
  text-decoration: line-through;
}
.card-products__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4; /* 28/20 */
}
.card-products__icons {
}
.icons-card-products {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icons-card-products__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: #f8f8f8;
  transition: background-color 0.3s;
}

.icons-card-products__link--favorites > svg > path,
.icons-card-products__link--basket > svg > path {
  transition: fill 0.3s;
}

@media (any-hover: hover) {
  .icons-card-products__link:hover {
    background-color: #ffbc57;
  }
}

@media (any-hover: hover) {
  .icons-card-products__link--favorites:hover svg > path {
    fill: #fff;
  }
  .icons-card-products__link--basket:hover svg > path {
    fill: #fff;
  }
}

/*!style-dress*/
.page__style-dress {
}
.style-dress {
}
.style-dress__container {
  max-width: 1240px;
  background-color: #f0f0f0;
  border-radius: 40px;
  padding: 70px 64px 76px;
}
.style-dress__top-section {
}
.top-section-dress {
}
.top-section-dress__title {
  font-family: "IntegralCF", sans-serif;
  color: #000;
  /* font-size: 48px; */
  font-size: calc(25px + (48 - 25) * ((100vw - 320px) / (1240 - 320)));
  padding-bottom: calc(34px + (64 - 34) * ((100vw - 320px) / (1240 - 320)));
  text-align: center;
  /* padding-bottom: 64px; */
}
.style-dress__cards {
  display: grid;
  gap: 20px;
}
.style-dress__card {
  border-radius: 20px;
  position: relative;
  background-color: #fff;
  transition: box-shadow 0.3s, transform 0.4s;
}
@media (any-hover: hover) {
  .style-dress__card:hover {
    box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
  }
  .style-dress__sub-title:hover {
    color: #ffffff;
    text-shadow: 1px 2px 5px rgb(0, 0, 0);
  }
}

.style-dress__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
}
.style-dress__sub-title {
  font-family: "Satoshi", sans-serif;
  color: #000;
  /* font-size: 36px; */
  font-size: calc(14px + (36 - 14) * ((100vw - 320px) / (1240 - 320)));
  font-weight: 700;
  position: absolute;
  /* top: 25px;
  left: 36px; */
  top: calc(8px + (25 - 8) * ((100vw - 320px) / (1240 - 320)));
  left: calc(8px + (36 - 8) * ((100vw - 320px) / (1240 - 320)));
}

@media (min-width: 1199.98px) {
  .top-section-dress__title {
    font-size: 48px;
    padding-bottom: 64px;
  }
  .style-dress__sub-title {
    font-size: 36px;
    top: 25px;
    left: 36px;
  }
}

@media (min-width: 991.98px) {
  .style-dress__cards {
    grid-template-columns: minmax(150px, 407px) auto minmax(150px, 407px);
    grid-auto-rows: 289px;
  }

  .style-dress__card:nth-child(4n + 2),
  .style-dress__card:nth-child(4n + 3) {
    grid-column: span 2;
  }
}

@media (min-width: 580.98px) and (max-width: 991.98px) {
  .style-dress__cards {
    grid-template-columns: minmax(150px, 407px) minmax(150px, 407px);
  }
}
