/*GOOLE FONT*/
@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");

/*LOCAL FONT*/
@import url("./fonts.css");

/*RESET*/
@import url("./reset.css");

body {
	background-color: #f8f8f8;
	color: #2b2929;
	font-family: "Proxima Nova",sans-serif;
}

/*__________________________*/
/*__________HEADER__________*/
/*__________________________*/

.header {
	background-color:  rgba(30, 40, 50, 0.05);
}

.conteiner {
	width: 1320px;
	margin: 0 auto;
	padding: 100px 0; 
}

.big-title {
	margin-bottom: 60px;
	color: #000;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	text-transform: capitalize;
	text-align: center; 
	font-size: 50px;
}

.block-images {
	margin: 0 -12px;
	font-size: 0;
}

.block-images img {
	margin: 0 12px;
}


/*__________________________*/
/*___________MAIN___________*/
/*__________________________*/

.page {
	margin-top: 75px;
	color: #2b2929;
}

.page-body {
	width: 1070px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.875; /* 30/16 */
}

.sub-title-first {
	font-size: 40px;
	font-weight: 600; 
	line-height: 1.20; /* 48/40 */
	margin-bottom: 40px;
}

.item-img {
	margin-bottom: 40px;
}

.item-text {
	margin-bottom: 10px;
}

.text-item-bottom {
	margin-bottom: 0;
}

.sub-title-second {
	font-size: 20px;
	line-height: 1.40; /* 28/20 */
	font-weight: 600;
	margin: 40px 0 30px;
}

.lists {
	padding-left: 47px;
}

.list-text {
	margin-bottom: 20px;
}

.lists + p {
	margin: 40px 0; /* відбувається схлопування margin */
}


/*__________________________*/
/*__________FOOTER__________*/
/*__________________________*/

.footer-block {
	width: 1290px;
	margin: 70px auto 0;
	padding-bottom: 70px;
	line-height: 1.875; /* 30/16 */
	font-size: 0;
}

.footer-title {
	font-size: 40px;
	line-height: 1.20; /* 48/40 */
	font-weight: 600;
	text-align: center;
	margin-bottom: 40px;
}

.block-items {
	margin: 0 -15px;
	
}

.block-item {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin: 0 15px;
	font-size: 16px;
}


.block-img {
	margin-bottom: 20px;
}

.block-title {
	font-size: 26px;
	line-height: 1.30769231; /* 34/26 */
	font-weight: 600;
	margin-bottom: 20px;

}
